.images { display: flex; align-items: flex-start; transition: transform 0.5s; box-shadow: 0 0 3px #000000;}
.window { width: 940px; height: 400px; overflow: hidden; box-shadow: 0 0 3px #000000;}
.red{ color: red; }
#buttons{
    display: block;
    text-align: center;
    position: relative;
    width: 920px;
}